.navbar{
    justify-content: space-around;
    padding: 0 50px;
}

.bg-custom {
    height: 160px;
    background-color: #0a0a0a;
}

.navbar-nav{
    margin: 0 auto 0 auto;
}

.nav-item{
    margin-left: 15px;
}

.navbar-brand{
    margin-left: .5em;
}

.V1{
    border-left: 2px solid rgb(255, 255, 255);
    height: 8em;
    margin-right: 1.5em;
}

.container2 {
    margin-top: 1em;
}