<div class="navbar navbar-expand-lg bg-custom">
  <div class="container">

    <!-- <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus
sagittis lacus vel augue laoreet rutrum faucibus.">
  Popover on bottom
</button> -->
  
    <a class="navbar-brand" href="#" >
      <img src="../../assets/images/retrrrr.png" alt="" style=" height: 40px;">
    </a>
   
    <div class="mx-au" style="width: 225px;">
      <a class="navbar-brand" data-toggle="popover" data-placement="left" data-content="So we're located in Baruna Street 45/E, East Jakarta, Indonesia" >
        <img src="../../assets/images/png/a1.png" alt="" style=" height: 50px;">
      </a>
      
      <a class="navbar-brand" data-toggle="popover" data-placement="top" data-content="Welcome to our shop and also try to have a look at our warm community" >
        <img src="../../assets/images/png/a3.png" alt="" style=" height: 55px;">
      </a>

      <a class="navbar-brand" data-toggle="popover" data-placement="right" data-content="Get in touch: support@retrohub.com" >
        <img src="../../assets/images/png/a2.png" alt="" style=" height: 50px;">
      </a>
  
    </div>

    <div class="socmed">
    <a class="navbar-brand" href="#">
      <img src="../../assets/images/png/18764668-02.png" alt="" style=" height: 40px;">
    </a>

    <a class="navbar-brand" href="#">
      <img src="../../assets/images/png/18764668-03.png" alt="" style=" height: 40px;">
    </a>

    <a class="navbar-brand" href="#">
      <img src="../../assets/images/png/18764668-04.png" alt="" style=" height: 40px;">
    </a>

    <a class="navbar-brand" href="#">
      <img src="../../assets/images/png/18764668-05.png" alt="" style=" height: 40px;">
    </a>
  </div>

  </div>
</div>